@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

html, body{
  overflow: hidden;
  background: rgb(255, 193, 193);
  background: linear-gradient(
    164deg,
    rgba(255, 193, 193, 0.1) 14%,
    rgba(255, 255, 255, 1) 36%
  );
}
.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.welcome-heading{
  text-align: left;
  font: normal normal bold 42px Lato;
  letter-spacing: 0px;
  color: #000000;
  opacity: 100%;
}
.nametag{
  color: #ff0000;
  opacity: 100%;
}
.portal-tag{
  font: normal normal bold 21px Lato;
  letter-spacing: 0px;
  color: #090000;
  opacity: 1;
  width: 501px;
  padding-bottom: 1em;
}
.login-btn{
  background: #ff0000;
  border-radius: 15px;
  font: normal normal bold 25px Lato;
  line-height: 5px;
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
}
.create-account{
  font: normal normal bold 20px Lato;
  color: #090000;
  padding-top: 20px;
}
.sign-up-link{
  color: #ff0000;
  text-decoration: none;
}