@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

h2{
    margin-bottom: 0;
}
.existing-user{
    font: normal normal bold 20px Lato;
    color: #090000;
    padding-top: 8px;
    padding-bottom: 5px;
}